/.DS_Store
/CMakeCache.txt
/CMakeFiles
/Makefile
/etc
/includes
/liblammps.a
/lmp
/styles
/cmake_install.cmake
*.gif
*.mp4
goodrestarts/.DS_Store
goodrestarts/N10KW7/.DS_Store
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_.001.amp_0.001.xyz
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_.01.amp_0.001.xyz
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_.1.amp_0.001.xyz
