/.DS_Store
/CMakeCache.txt
/CMakeFiles
/Makefile
/etc
/includes
/liblammps.a
/lmp
/styles
/cmake_install.cmake
*.gif
*.mp4
goodrestarts/.DS_Store
goodrestarts/N10KW7/.DS_Store
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_.001.amp_0.001.xyz
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_.01.amp_0.001.xyz
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_.1.amp_0.001.xyz
linear_fit_plot_freq_0.0001.png
linear_fit_plot_freq_1.png
mult_probe_zdisp_freq_0.0001.png
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_.0001.amp_0.001.xyz
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_1.amp_0.001.xyz
log.lammps
log.lammps
VMD_out.wiggle.probes.Friction_ON.pressure_10.freq_1.amp_0.001.xyz
dump_lower.yaml
dump_probes.yaml
meta_data.txt
*.xyz
*.png
*.yaml
log.lammps
plotdata_probes_xdisp.txt
plotdata_probes_ydisp.txt
plotdata_probes_zdisp.txt
attenuation_data.txt
octave-workspace
/attenuation_data.txt
attenuation_data.txt
/outputs
